Repository Bot-detector/Bot-Detector-Core-Files, pull requests merged in 2021-12, with the labels that each got.

#207 Run batches parrallel
  api/database/functions.py
  api/routers/scraper.py
Labels: enhancement

#278 makes token optional for prediction
  api/routers/prediction.py
Labels: API

#255 adds report latest
  api/app.py
  api/routers/reportLatest.py
  tests/test_reportLatest.py
Labels: enhancement, API
